@import "tailwindcss";

@theme {
  /* You can add custom theme values here if needed */
}

body {
  background-color: #000000;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .header {
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
  
  .footer {
  @apply  bg-black flex justify-center gap-2 z-10 p-2 
  }
  
  .hero {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
   @apply  bg-black text-white z-20 top-0 left-0 w-full h-full fixed flex justify-center items-center 
  }

  .card {
    background: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.934);
    border-radius: 16px;
    padding: 20px;
    margin: 20px auto;
    color: #fefefe;
    font-family: Arial, sans-serif;
    max-width: 300px;
  }
  
  .section {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
  }
  
  .btn {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.981);
    border-radius: 0.125rem;
    margin-top: 1.25rem;
    color: white;
    padding: 0.5rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
}